<footer class="d-flex footer mt-auto py-3 bg-secondary">
  <div class="container">
    <span class="text-dark lead">Todo List App</span> &nbsp;&nbsp;  <i class="fa-solid fa-list-check"></i> 
  </div>
  <div>
    <a class="text-dark h4" href="https://github.com/jecraftx"><i class="fa-brands fa-github"></i></a>
  </div> &nbsp;&nbsp;&nbsp;
  <div>
    <a class="text-dark h4 mr-5" href="https://www.instagram.com/craftxscience/"><i class="fa-brands fa-instagram"></i></a>
  </div>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
</footer>



