{% extends "app_teacher/components/base.html" %}
{% load static %}


{% block head %}
    <link rel="icon" href="{% static 'img/aw.png' %}" type="image/png">
{% endblock head %}

{% block title %}
    Home Page
{% endblock title %}

{% block navbar %}
      {% include 'app_teacher/components/navbar.html' %}
{% endblock navbar %}  

{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
</head>
<body class="main_about">
    <p class="welcome">About This App</p>
    <h4 class="text-center mt-5">
    <span class="bg-secondary">ToDo List App</span> is a kind of app that generally <br>
        used to maintain our day-to-day tasks or list <br>
        everything that we have to do. It is helpful  <br>
        in planning our daily schedules.</h4>
    <h4 class="text-center mt-5 mx-5">In this version of the <span class="bg-secondary">ToDo List App</span>, the user will be getting four options:</h4>
    <div class="d-flex justify-content-center mt-3">
      <ul class="h5 mb-4">
        <li>Create (add) a new task or adding a new ToDo in the ToDo List App.</li>
        <li>See all the tasks or View all the ToDos that were added to the app.</li>
        <li>Changing the already created task by clicking "change" button.</li>
        <li>Delete the created ToDo from ToDos list.</li>
      </ul>
    </div>
    <b class="d-flex justify-content-center mt-5 h1 text-secondary"><i>GALLERY</i>&nbsp;<i class="fa-solid fa-mountain-sun"></i></b>
    <!-- Gallery -->
    <div class="d-flex justify-content-center row mt-5 mx-5">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 mt-5">
        <img
        src="{% static 'img/main.png' %}"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
    
        <img
        src="{% static 'img/first.png' %}"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Wintry Mountain Landscape"
        />
      </div>
    
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 mt-5">
        <img
        src="{% static 'img/second.png' %}"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Mountains in the Clouds"
        />

        <img
        src="{% static 'img/third.png' %}"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Wintry Mountain Landscape"
        />
      </div>
    </div>
    <!-- Gallery -->
</body>
</html>
{% endblock main %}

{% block footer %}
  {% include 'app_teacher/components/footer.html' %}
{% endblock footer %} 