 {% extends "app_teacher/components/base.html" %}
{% load static %}


{% block head %}
{% endblock head %}

{% block title %}
    Detail Page
{% endblock title %}

{% block navbar %}
    {% include 'app_teacher/components/navbar.html' %}
{% endblock navbar %}

{% block main %}
<main class="flex-shrink-0"> &nbsp;
    <i class="fa-solid fa-angles-left"></i>
    <a class="text-decoration-none mx-auto p-1 text-dark" href="{% url 'todo_list' %}">BACK</a>
    <div class="px-4 py-5 my-5 text-center">
    <img src="static/img/todo.png" alt="">
    <h1 class="display-5 fw-bold">{{ todo.title }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ todo.description }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">Change</button>
         {% if todo.is_completed %}
            Task is completed
          {% else %}
            <button type="button" class="btn btn-outline-danger btn-lg px-4" >Delete</button>
          {% endif %}

          {% for i in list %}
            <div>{{i}}</div>
          {% endfor %}

      </div>
    </div>
  </div>
</main>
{% endblock main %}


{% block footer %}
  {% include 'app_teacher/components/footer.html' %}
{% endblock footer %}