{% extends "app_teacher/components/base.html" %}
{% load static %}


{% block head %}
    <link rel="icon" href="{% static 'img/aw.png' %}" type="image/png">
{% endblock head %}

{% block title %}
    Home Page
{% endblock title %}

{% block navbar %}
      {% include 'app_teacher/components/navbar.html' %}
{% endblock navbar %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
</head>
<body class="main_body2">
    <p class="welcome">Welcome to my Todo List App: <br><a href="https://djangomvtapp.herokuapp.com">djangomvtapp.herokuapp.com</a></p>
<!--Checkout my app on  https://djangomvtapp.herokuapp.com/-->
</body>
</html>
{% endblock main %}

{% block footer %}
  {% include 'app_teacher/components/footer.html' %}
{% endblock footer %} 

